{% extends 'index.html' %}

{% block main %}
<div class="columns is-centered">
    <div class="column is-one-third is-full-mobile">
        <!--  -->
        <div class="block">
            <h2 class="title is-2">Welcome to Django Cash</h2>
            <p class="has-text-grey-light is-5">Please create your account to continue</p>
        </div>
        <!--  -->
        <div class="message is-danger">
            <div class="message-body">
                <p>Please fix errors and submit your form again</p>
            </div>
        </div>
        <!--  -->
        <div class="block box">
            <form action="." method="post">
                <div class="field">
                    <label class="label">Your name</label>
                    <div class="control">
                        <input class="input">
                        <p class="help is-danger">Something wrong</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Your email address</label>
                    <div class="control">
                        <input class="input">
                        <p class="help is-danger">Something wrong</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Your password</label>
                    <div class="control">
                        <input class="input">
                        <p class="help is-danger">Something wrong</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Please repeat your password</label>
                    <div class="control">
                        <input class="input">
                        <p class="help is-danger">Something wrong</p>
                    </div>
                </div>

                <div class="block">
                    <button type="submit" class="button is-primary is-fullwidth">Create an account</button>
                </div>
            </form>
        </div>
        <!--  -->
        <div class="block">
            <p class="has-text-grey-light">Do you have an account?</p>
            <a href="#">Log in</a>
        </div>
        <!--  -->
    </div>
</div>
{% endblock main %}